h1 {
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 50%;
      
    }
  
    to {
      margin-left: 0%;
      
    }
  }
.button {
  display: flex;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 1px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
  background: #b0ad07;
  transition: background-color 2s,transform 0.3s;
}
.button:hover {
    background-color:rosybrown;
    transform:scale(1.2) ;
}
.hidden {
    display: none;
}
.btn-icon1,.btn-icon2 {
    margin-left:5px;
}